// =========================
// OTEL RECEIVER
// =========================
otelcol.receiver.otlp "default" {
  grpc {}
  http {}

  output {
    traces = [otelcol.processor.batch.default.input]
  }
}

// =========================
// PROCESSOR
// =========================
otelcol.processor.batch "default" {
  output {
    traces = [otelcol.exporter.otlp.tempo.input]
  }
}

// =========================
// EXPORT TO TEMPO
// =========================
otelcol.exporter.otlp "tempo" {
  client {
    endpoint = "tempo:4317"
    tls {
      insecure = true
    }
  }
}
